<body>
  <div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <label for="username">Username:</label>
      <input id="username" [(ngModel)]="username" name="username" required />
    
      <label for="role">Role:</label>
      <select id="role" [(ngModel)]="role" name="role" required>
        <option value="admin">Redacteur</option>
        <option value="user">User</option>
      </select>
    
      <button type="submit">Login</button>
    </form>
  </div>
</body>

